[run]
source = batter
# try to omit migrations
omit = batter/*/migrations/*,batter/batter/settings/*,batter/batter/wsgi*

[report]
exclude_lines =
    pragma: no cover
    def __unicode__
    def __str__
