- extends "search/results/search_result_base.haml"
- load static

- block result-logo
  %img.media-object{src: 'http://placehold.it/64', width: 64}

- block result-name
  = result.object.name

- block result-body
  - for artist in result.object.artists.all
    <a class="muted" href='{{ artist.get_absolute_url }}'>{{ artist.name }}</a>{% if not forloop.last %}, {% endif %}
  %p= result.object.modified
