.media
  %a.pull-left{href: '{{ result.object.get_absolute_url }}'}
    - block result-logo
  .media-body
    %h4.media-heading
      -block result-name-base
        %a{href: '{{ result.object.get_absolute_url }}'}
          - block result-name
    - block result-body
