{% extends "site_base.html" %}

{% block head_title %}Notifications{% endblock %}

{% block body %}
    <h1>Your Notifications</h1>
    {% include "pagination/pagination.html" %}
    {% if object_list %}
    <ul>
        {% for notification in object_list %}
        <li class="notification {% if notification.seen %}notification-fresh{% else %}notification-stale{% endif %}">
            <h3>{{ notification.title|safe }}</h3>
            <p>{{ notification.body|safe }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>You don't have any notifications yet.</h3>
    {% endif %}
    {% include "pagination/pagination.html" %}
{% endblock %}
