- load staticfiles

!!! 5
%html{lang: '{{ LANGUAGE_CODE }}'}
  %head
    %meta{charset: 'utf-8'}
    %title
      - block title-base
        - block title
        - if SITE_NAME
          \- {{ SITE_NAME }}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{name: 'description', content: ''}
    %meta{name: 'author', content: ''}

    - block css-base
      %link{href: '{% static "css/bootstrap.min.css" %}', rel: 'stylesheet', type: 'text/css'}
      %link{href: '{% static "css/bootstrap-responsive.min.css" %}', rel: 'stylesheet', type: 'text/css'}
      %link{href: '{% static "css/project.css" %}', rel: 'stylesheet', type: 'text/css'}
      - block css

    /[if lt IE9]
      %script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %body
    - block navbar-base
      .navbar.navbar-inverse.navbar-static-top
        .navbar-inner
          .container
            - block navbar
              %button.btn.btn-navbar{type: 'button', data-toggle:'collapse', data-target:'.nav-collapse'}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              - block brand-base
                %a.brand{href: '/'}
                  - block brand
                    Batter
              .nav-collapse.collapse
                -block nav-base
                  %ul.nav
                    - block nav
                      %li
                        %a{href: '{% url "home" %}'} Home
    - block header-base
      %header
        .container
          - block header
            .row
              .span12
    - block content-base
      #content
        .container
          - block content
    - block footer-base
      %footer
        .container
          - block footer
            .row
              .span
    - block js-base
      %script{src: '{% static "js/jquery.min.js" %}'}
      %script{src: '{% static "js/bootstrap.min.js" %}'}
      %script{src: '{% static "js/project.js" %}'}
      - block js
